.header {
    height: 100vh;
    flex-direction: column;
    background-image: url('src/assets/backgroundLeaves.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 4em;
    font-family: monospace, sans-serif;
    text-align: center;
}

.header h1 {
  margin-bottom: 20px;
  font-size: 1em;
}

.header button {
  padding: 10px 20px;
  font-size: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #a2a2a2a0;
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: monospace, sans-serif;
}

.header button:hover {
  background-color: #898989;
}

.navbar {
  font-family: monospace, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.panel {
  border: 2px solid rgb(38, 27, 63);
  width: 25vw;
  height: auto;
  padding: 0;
  /* width: 280px;
  height: auto;  */
  position: relative;
  cursor: pointer;
  margin: 5px;
  background-color: #333;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  font-family: monospace, sans-serif;
}

.image-container {
  position: relative;
  width: 100%;
}

.panel img {
  width: 100%;
  display: block;
}

.panel-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
  margin: 0;
  font-family: monospace, sans-serif;
}

.panel-content {
  padding: 10px;
  color: white;
  text-align: center;
  font-family: monospace, sans-serif;
}

.panel:hover {
  background-color: #f0f0f0;
  color: black;
}

.panel:hover .panel-content {
  color: rgb(59, 58, 58);
}

.panel:hover .panel-title {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 60px;
}

.profile-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.profile-text {
  margin-right: 70px;
  text-align: center;
  font-size: 1.4em;
}

.divider {
  width: 20%;
  margin: 30px auto;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  color: rgb(169, 169, 169);
  text-align: center;
  font-size: 1.5em;
  position: relative;
  font-family: monospace, sans-serif;
}

.fadeInSection {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, visibility 0.6s;
}

.fadeInSection.isVisible {
  opacity: 1;
  transform: translateY(0vh);
  visibility: visible;
}

@media only screen and (max-width: 400px) {
  .responsive-section {
      flex-direction: column !important;
  }
}

